header,footer
{
    padding: 3em;
    color: black;
    background-color: #004d00;
    clear: left;
    text-align: center;
    color:white;
}
body
{
   background-color: #cc7a00;
   background-image: url("sand.jpg");

}
b
{
   color:darkblue;
}

h1
{
   font-size: 45;
}
#back
{
   background-color: brown;
}
#quote
{
  text-align: center;
  font-size: 15px;
  background-color: #663300;
}
#middleimg
{
   margin-left:150px;
   height:300px;
}
#leftimg
{
  margin:auto;
  float:left;
  height:300px;
}
#rightimg
{
   margin:auto;
   float:right;
   height:300px;
}
#sideimg
{
  text-align: center;
   width:200px;
   height:auto;
   max-width: 100%;
}
.smallText
{
  font-size: 20px;
}
h1
{
   text-align: center;
   margin:auto;
   font-family: 'Times New Roman';
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 5px;
  background-color: #c68c53;
  padding: 10px;
}
.grid-container > div {
  background-color: #ffb84d;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

.main {
    margin-left: 20px; /* Same width as the sidebar + left position in px */

    font-size: 5px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 300px) {
    .sidenav {padding-top: 5px;}
    .sidenav a {font-size: 18px;}
}
.head { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; font-size: 20px;}
.right { grid-area: right; }
.footer { grid-area: footer;
   color: white;
   font-size: 15px;}

.white {
   color: white;
  /* width: 100%;*/
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.active
{
   font-size:70px;
   color:red;

}

 .icons
    {
        width:42px;
        height:42px;
    }
     .logo
    {
        max-width:100%;
        height:auto;
        /*//width:200px;
        float = left;*/
        float:left;
        width: 150px;
        border = "0";
    }
.currentPage
{
   background-color: white;
}
    /* a:link, a:visited {
    background-color: maroon;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}*/


a:hover, a:active {
    background-color: darkblue;
}

